{% extends "base.html" %}
{% load static %}


{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/accounts/password_reset_confirm.css' %}">
{% endblock %}

{% block content %}
{% if validlink %}
<div class="form-container">
  <h2>Password Reset</h2>
  <p>Please enter (and confirm) your new password.</p>
  <form method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <table class="form-group">
      <tr>
        <td class="form-label">{{ form.new_password1.label_tag }}</td>
        <td class="form-input">{{ form.new_password1 }}</td>
      </tr>
      <tr>
        <td>
          {% if form.new_password1.errors %}
          <div class="error-message">{{ form.new_password1.errors.0 }}</div>
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="form-label">{{ form.new_password2.label_tag }}</td>
        <td class="form-input">{{ form.new_password2 }}</td>
      </tr>
      <tr>
        <td>
          {% if form.new_password2.errors %}
          <div class="error-message">{{ form.new_password2.errors.0 }}</div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit">Change my password</button></td>
      </tr>
    </table>
  </form>

</div>
{% else %}
<div class="error-message">
  <h1>Password reset failed</h1>
  <p>The password reset link is invalid, possibly because it has already been used. Please request a new password
    reset.</p>
</div>
{% endif %}
{% endblock %}