.signup_page {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.signup-form {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f2f6fa;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table{
  font-size: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
}

.form-label {
  font-weight: bold;
  padding-right: 10px;
}

.form-input input,
.form-input select,
.form-input textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.error-message {
  color: red;
  font-size: 14px;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.submit-button:hover {
  background-color: #45a049;
}

.submit-button:focus {
  outline: none;
}

#id_gender{
  display: flex;
  justify-content: space-between;
}