{% extends 'base.html' %}
{% load static %}
{% block title %}django-channels-chat{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/chat/room.css' %}" />
{% endblock %}

{% block content %}
<div class="chat-container">
  <h2 class="chat-title">django-channels-chat</h2>
  <div class="chat-row">
    <div class="chat-column chat-message-section">
      <div class="room-info">
        <label for="chatLog">Room: #{{ room.name }}</label>
        <div class="chat_item_container" id="id_chat_item_container">
          <!-- Messages will be displayed here with a scrollbar -->
          {% for chat in chats %}
          <div class="message-content">
            <div class="message-text">{{chat.content}}</div>
            <div class="message-timestamp">{{chat.timestamp|date:"H:i:s"}}</div>
            <div class="message-username">{{chat.sender.username.capitalize }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="message-input-group">
        <input type="text" class="message-input" id="chatMessageInput" placeholder="Enter your chat message">
        <button class="message-send-button" id="chatMessageSend" type="button">Send</button>
      </div>
    </div>
    <div class="chat-column">
      <label for="onlineUsers">Online users</label>
      {% if online_user_count == 0 %}
      <div>
        No users are online.
      </div>
      {% else %}
      <div class="onlineUsers_item_container" id="onlineUsersItemContainer">

      </div>
      <div id="joinLeftMessage"></div>
      {% endif %}
    </div>


    {{ room.name|json_script:"roomName" }}
    {{ request.user.username|json_script:"username" }}

  </div>
</div>
<div class="leave-chat-container">
  <a href="{% url 'leave-chat-room' room.name %}" class="leave-chat-link">Leave chat</a>
</div>
<script src="{% static 'js/chat/room.js' %}">
</script>
{% endblock %}